version: "3.9"

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_app
    ports:
      - "3010:3010"
    restart: unless-stopped
    environment:
      NODE_ENV: production
      # Tambahkan ini agar Next.js tidak mencari-cari hostname container ID
      HOSTNAME: "0.0.0.0"
      PORT: 3010