version: "3.9"

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_app
    ports:
      - "3005:3005"
    restart: unless-stopped
    environment:
      NODE_ENV: production
